<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="/users/<%= user_id %>/tasks">
        Title: <input type="text" name="title" />
        <br />
        <br />
        <input type="submit" />
    </form>
</body>

</html>