<!DOCTYPE html>
<body>
        <a href="/users"> 🢘 Back to Users</a>
        <br/>
        <br/>
        <br/>
        <form name="form1" method="POST" action="/users">
            <table>
                <tr>
                <td>Name: </td>
                <td><input type="text" name="name" ></td>
                </tr>
                <tr>
                <td>Email: </td>
                <td><input type="text" name="email" ></td>
                </tr>
                <td>City: </td>
                <td><input type="text" name="address[city]" ></td>
                </tr>
                <tr>
                <td colspan="2">
                    <br/>
                    <input type="submit" value="Save" >
                </td>
                </tr>
            </table>
            </form>  

</body>