<!DOCTYPE html>

<body>
    <%- include _back-to-main.ejs %>
    <form name="form1" method="POST" action="/users">
        <table>
            <%- include _form.ejs %>
            <tr>
                <td colspan="2">
                    <br />
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    </form>
</body>