<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="/users/<%= user_id %>/posts">
        Title: <input type="text" name="title" />
        <br />
        <br />
        Text: <textarea type="text" name="body"></textarea>
        <br />
        <br />
        <input type="submit" />
    </form>
</body>

</html>